<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".V2exApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.V2ex"
        tools:targetApi="31">

        <activity
            android:name=".ui.activity.UserDetailsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.azhu.v2ex.action" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="localhost"
                    android:mimeType="text/plain"
                    android:scheme="v2ex" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TopicDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.V2ex" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.V2ex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>